USE [master]
GO
/****** Object:  Database [Testing_Task_VITTA]    Script Date: 09.04.2021 6:03:31 ******/
CREATE DATABASE [Testing_Task_VITTA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Testing_Task_VITTA', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Testing_Task_VITTA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Testing_Task_VITTA_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Testing_Task_VITTA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Testing_Task_VITTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Testing_Task_VITTA]
GO
/****** Object:  User [user2]    Script Date: 09.04.2021 6:03:31 ******/
CREATE USER [user2] FOR LOGIN [user2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user1]    Script Date: 09.04.2021 6:03:31 ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user2]
GO
ALTER ROLE [db_owner] ADD MEMBER [user1]
GO
/****** Object:  Table [dbo].[Money]    Script Date: 09.04.2021 6:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Money](
	[moneyId] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[sum] [money] NOT NULL,
	[amount] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[moneyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09.04.2021 6:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[sum] [money] NOT NULL,
	[toPayment] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 09.04.2021 6:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[orderId] [int] NOT NULL,
	[moneyId] [int] NOT NULL,
	[sum] [money] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([moneyId])
REFERENCES [dbo].[Money] ([moneyId])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
USE [master]
GO
